[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.7.5"
sqlalchemy = {version = "==1.4.28", extras = ["aiomysql"]}
passlib = {version = "==1.7.4", extras = ["bcrypt"]}
strawberry-graphql = {version = "==0.95.3", extras = ["asgi"]}
starlette = "==0.16.0"
uvicorn = "==0.17.3"

[dev-packages]
pytest = "==6.2.5"
pytest-timeout = "==2.1.0"

[requires]
python_version = "3.10"
