[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.11.1"
sqlalchemy = {version = "==2.0.19", extras = ["aiomysql"]}
passlib = {version = "==1.7.4", extras = ["bcrypt"]}
strawberry-graphql = {version = "==0.195.2", extras = ["asgi"]}
starlette = "==0.30.0"
uvicorn = "==0.23.0"

[dev-packages]
pytest = "==7.4.0"
pytest-timeout = "==2.1.0"

[requires]
python_version = "3.11.4"
